[Unit]
Description=MAVROS Node
After=network.target

[Service]
Type=simple
Environment=HOME=/root
ExecStart=/bin/bash -c '\
    source /etc/profile.d/ros2.sh && \
    ros2 launch drone_mavros mavros.launch.py'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target