# .gitattributes
layers/meta-drone/recipes-network/drone-wireguard/files/wg0.nmconnection  filter=git-crypt diff=git-crypt
layers/meta-drone/recipes-core/bundles/files/wireguard/wg0.nmconnection   filter=git-crypt diff=git-crypt
layers/meta-drone/recipes-core/rauc/files/ca.key.pem                      filter=git-crypt diff=git-crypt
layers/meta-drone/recipes-core/bundles/files/ca.key.pem                   filter=git-crypt diff=git-crypt
layers/meta-drone/recipes-core/rauc/files/signing.key.pem                 filter=git-crypt diff=git-crypt
layers/meta-drone/recipes-core/bundles/files/signing.key.pem              filter=git-crypt diff=git-crypt
layers/meta-drone/recipes-core/rauc/files/signing.csr.pem                 filter=git-crypt diff=git-crypt
layers/meta-drone/recipes-core/bundles/files/signing.csr.pem              filter=git-crypt diff=git-crypt
layers/meta-drone/recipes-core/rauc/files/ca.cert.srl                     filter=git-crypt diff=git-crypt
layers/meta-drone/recipes-core/bundles/files/ca.cert.srl                  filter=git-crypt diff=git-crypt   