# IDE
.vscode/
.idea/

# Python
.venv/
__pycache__/

# Configs
wg0.nmconnection

# Yocto build artifacts
build/
meta-ros/
meta-openembedded/
meta-raspberrypi/
poky/
meta-lts-mixins/
meta-rauc-community/
meta-rauc/

# Certs
ca.key.pem
signing.key.pem*.key.pem
*.csr.pem
